.admin-news-container{
  padding: 60px 40px;
  
  position: relative;
}
.admin-news-btn{
  right: 40px;
  position: absolute;
  
}
.ant-btn{
  border-color: #f0f2f5;
  box-shadow: none;
}
.ant-btn-primary{
  background-color: #ff0e1f !important;
  border-color: #ff0e1f !important;
}
.ant-btn-primary:hover{
  
  border: 1px solid #fff !important;
}
.ant-btn-default{
  margin-right: 20px;
  border-color: none !important;
  background-color: #f0f2f5 !important;
}
.ant-btn-default:hover{
  color: #ff0e1f;
  border-color: #f0f2f5;
}
.admin-news-table{
  margin-top: 50px;
}
