.change-password-nav{
       
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.nav-icon{
  font-size: 40px;
  color: #ff0e1f;
  padding-left: 40px;
  line-height: 100px;
}
.change-password-page{
  height: 100%;
  position: relative;
}
.change-password-content {
  margin: auto;
  /* height: 100%; */
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #17161a;
}