.content{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titleContent{
   
}
.contentTitleImg{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0%;
    width: 100%;
   
}
.title{ 
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.13em;
    margin: 20px;
    text-align: center;
    line-height: 400px;
    text-transform: uppercase;
    
}
.contentTitleInner{
    display: table;
    height: 400px;
    width: 100%;
    vertical-align: middle;
    position: relative;
    table-layout: fixed;
    
}

.content-inner{
    background-color: #000;
    height: 400px;
}