nav{
    height: 90px;
    background-color: #17161a;
    font-size: 'Open Sans';
    font-size: 13px;
    font-weight: 500;
}
.div-header{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position:relative;
}
.header-home{
    float: left;
    margin: 0 65px;
    box-sizing: border-box;
    height: 100%;
    line-height: 90px;
    
}
.header-home>.header-elements{
    position: relative;
    float: left;
    z-index: 2;
    height: 100%;

}
.header-pages{
    position: relative;
    display: inline-block;   
}
.header-elements>img{  
    width: 100%;
    height: 70%;
    line-height: 90px;
    vertical-align: middle;
}
.header-elements {
    padding: 0 10px;
    height: 100%;
    line-height: 90px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    letter-spacing: .06em;
 
}
.header-elements:hover {
    color: #ff0e1f;
}
.header-elements:hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #ff0e1f;
    opacity: 1;
    transition: opacity 1s cubic-bezier(.19,1,.22,1);
    transform: skewX(15deg);
}
.header-btn {
    padding: 0 10px;
    display: flex;
}
.btn{
    background-color: #ff0e1f;
    border-color: #fff;

}
.btn:hover {
    background-color: #ff0e1f !important;
    border-color: #ff0e1f;
}
.btn-icon{
    font-size: 32px;
    color: #ff0e1f;
    padding-left: 10px;
}
