.post-title {
  height: 240px;
  opacity: 1;
  background-color: #000;
}
.post-title>span {
  font-family: Open-San, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 240px;
  padding-left: 60px;
  text-transform: uppercase;
}
.post-content-container {
  margin: 30px;
  margin-top: 20px;
  font-family: Montserrat,sans-serif;
  
  color:#fff;
}
.post-main-content-container {
  background-color: #000;
}

.post-content-image {
  width: 100%;
}
.post-content-image>img {
  width: 100%;
}
.post-content-tags{
  display: flex;
  margin:20px 20px;
}
.post-type{
  /* color: #fff; */
  background-color: #ff0e1f;
  padding: 5px 30px;
}
.post-date {
  color: #000;
  /* background-color: #fff; */
  padding: 5px 30px;
  margin-left: 20px;
}
.post-content-title {
  font-size: 30px;
  font-weight: 700;
  padding:10px 20px;
  /* color: #fff; */
  text-transform: uppercase;
}
.post-main-content {
  height: 200px;
  color: #ccc;

}
.post-comment-title{
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Montserrat,sans-serif;
  background-color: #000;
  line-height: 50px;
  margin: 10px 0px;
  padding-left: 5px;
}
.post-comment-form {
  background-color: #000;
  padding: 10px;
}
.post-comment-input{
  width: 100%;
  height: 100px;
  background-color: #17161a;
  border-color: #17161a;
  
}
.post-comment-input:focus{
  outline: none !important;
  border-bottom:2px solid #ff0e1f;
}
.post-comment-btn{
  width: 100%;
  background-color:#ff0e1f;
  border-color: #ff0e1f;
  font-weight: 200;
  color: #fff;
  height: 50px;
  margin: 10px 0;
}
.post-comment-list{
  background-color: #17161a;
}
.post-comment{
  background-color: #000;
  padding: 10px;
  margin-top: 10px;
}
.ant-comment-content-author>span{
  color: #ff0e1f;
  font-family: Montserrat, sans-serif;
  font-weight: 600px;
  font-size: 15px;
}