.admin-page{
  color: #fff;
  height: 100%;
}
.admin-layout{
  height: 100%;
}
.ant-layout-sider-children{
  background-color: #000;
}
#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.logo{
  height: 100px;
  padding: 20px 0px;
}
.logo>a>img{
  width: 95%;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #000;
  color: #fff;
}
.admin-menu-item{
  background-color: #000;
  padding: 25px !important;
}
.ant-menu-item{
  margin:0px;
}
.ant-menu-item > a{
  color: #000;
  
}
.ant-menu.ant-menu-dark{
   background-color: #000 !important;
}
.ant-menu-dark{
  padding-top: 30px;
 
}

.ant-menu-inline .ant-menu-item:not(:last-child){
  margin:0px;
}
.ant-menu-inline .ant-menu-item{
  margin: 0px;
  padding: 0px 20px;
}

.admin-menu-item>a{
  color: #000 !important;
  text-transform: uppercase;
}
.ant-menu-dark .ant-menu-item > span > a{
  color: #fff !important;
  text-transform: uppercase;
}
.ant-menu-dark::before, .ant-menu-dark::after{
  display:none !important;
  background-color: #000;
}
.admin-menu-item:hover, .admin-menu-item:active{
  background-color: #ff0e1f !important;
}
.ant-layout-sider-zero-width-trigger {
  background-color: #ff0e1f;
}