.signup-wrapper {
    box-sizing: border-box;
    margin: 10px 0;
    color: white;
    position: relative;
    background: #fff;
    border-radius: 2px;
    border: 1px solid black;
    background-color: #17161a;
    width: 50%;
}
@media screen and (max-width: 650px){
    .signup-wrapper{
        width: 80%;
    }
}

.signup-header {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    border-bottom: 1px solid #b6b5b5;
    border-radius: 2px 2px 0 0;
}

.signup-header::before {
    display: table;
    content: '';
}

.signup-header::after {
    display: table;
    clear: both;
    content: '';
}

.signup-header-wrapper {
    display: flex;
    align-items: center;
}

.signup-header-title {
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 30px;
    font-weight: 700;
}

.signup-body {
    padding: 24px;
}

.signup-form-group {
    padding: 10px;
    width: 100%;
}

.signup-form-input {
    width: 100%;
    background-color: rgba(255, 255, 255, .05);
    border: 1px solid transparent;
    color: #fff;
    height: 50px;
    margin: 0 0 10px;
    padding: 16px 25px;
    cursor: text;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 20px;
}

.signup-form-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.signup-form-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.signup-form-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.signup-form-button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-family: inherit;
    font-size: 13px;
    line-height: 2em;
    letter-spacing: .06em;
    font-weight: 700;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 13px 44px;
    color: #fff;
    background-color: #ff0e1f;
    border: 1px solid transparent;
    cursor: pointer;
}

.signup-form-button:hover {
    filter: drop-shadow(3px 3px 20px rgba(255, 14, 31, .7));
}